@import "./breakpoints.scss";

.Hero_section {
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .Hero_img {
        display: flex;
        justify-content: center;

        img {
            width: 400px;
            object-fit: cover;
        }
    }

    .Hero_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;

        h1 {
            color: #468847;
            font-size: 45px;
            font-weight: 900;
            margin-block: 20px;
        }

        p {
            font-size: 18px;
            font-weight: 700;
            line-height: 30px;
        }
    }

    // Responsive adjustments
    @include xl {
        grid-template-columns: 1fr; // Stack columns in smaller screens

        .Hero_img {
            img {
                width: 100%; // Make the image responsive
            }
        }
    }

    @include lg {
        grid-template-columns: 1fr; // Stack columns in smaller screens

        .Hero_img {
            img {
                width: 90%; // Adjust image width slightly for larger screens
            }
        }
    }

    @include md {
        grid-template-columns: 1fr; // Stack columns in smaller screens

        .Hero_img {
            img {
                width: 80%; // Adjust image width for medium screens
            }
        }
    }

    @include sm {
        grid-template-columns: 1fr; // Stack columns in smaller screens

        .Hero_img {
            img {
                width: 100%; // Full width on small screens
            }
        }

        .Hero_content {
            padding: 20px; // Reduce padding on smaller screens

            h1 {
                font-size: 35px; // Smaller font size for headers
            }

            p {
                font-size: 16px; // Smaller font size for paragraphs
            }
        }
    }
}